@model Beershop.ViewModels.ShoppingCartVM

@{
    ViewData["Title"] = "Index";
}

<h3>
    <em>Review</em> your cart:
</h3>



@if (Model != null)
{

    <form asp-action="Payment">
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Biernr)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Aantal)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cart[0].Prijs)

                </th>
                <th>
                    Subtotaal
                </th>
            </tr>
            @{
                float total = 0;
            }
            @for (var i = 0; i < Model.Cart.Count; i++)
            {

                <tr>
                    @Html.HiddenFor(m => Model.Cart[i].Biernr)
                    <td>
                        <input asp-for="@Model.Cart[i].Naam" readonly="readonly"
                       class="form-control" />

                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Aantal" type="number"
                       min="1" max="5" data-aantal=@i />

                    </td>
                    <td>
                        <input asp-for="@Model.Cart[i].Prijs" type="number"
                       readonly="readonly" />

                        @{
                            var subtotaal = Model.Cart[i].Prijs
                            * Model.Cart[i].Aantal;
                            total += subtotaal;
                        }
                    </td>
                    <td>
                        <input id="@("txtSubTotal" + @i)"
                       value="@subtotaal"
                       type="number" readonly="readonly" />
                    </td>

                    <td>
                        <a asp-action="Delete" asp-route-bierNr="@Model.Cart[i].Biernr">

                            <img src="~/Images/Delete_Icon.png" />
                        </a>

                    </td>
                </tr>
            }
            <tr>
                <td>
                    <input type="submit" value="Checkout"
                       class="btn btn-default" />
                </td>
            </tr>
            <tr>

                <td id="cart-total">
                    Total  <input id="txtTotal" value="@total"
                              type="number" readonly="readonly" />
                </td>
            </tr>
        </table>
    </form>
}
else
{
    @Html.Raw("Your shoppingcart is empty at the moment")
}

<a asp-controller="Beer" asp-action="Index">Continue</a>

